.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/shika.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/shika.xcuserdatad/xcschemes/xcschememanagement.plist
